/* ______________________________________________buttons__________________________________ */
/* #region */
button{
  background-color: #4286f4;
  border-radius: 25px 25px !important;
  padding: 5px 23px;
  border: none;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.but-dark {
  background-color: #4286f4;
}
.but-light {
  background-color: #55c1ff;
}
/* #endregion */
/* ______________________________________________colors__________________________________ */
/* #region */
.dark-blue {
 color:  #4286f4;
}
.blue {
  color: #55c1ff;
}
.light-blue {
  color: #a3d5ff;
}
.ltst-blue {
 color: #d9f0ff;
}
.purple {
  color: #6f73d2;
}
/* #endregion */

/* #______________________________________________NAV__________________________________ */
/* #region */
nav {
  background-color: #4286f4;
}
.nav {
  padding: 8px 0;
  margin: 0 auto;
  max-width: 1000px;
}

nav li a {
  color: white;
  text-align: center;  
  font-family: 'Roboto',
  sans-serif;
  font-weight: 600;

}
/* #endregion */

/* ______________________________________________Hero __________________________________ */
/* #region */
.welcome {
  height: 570px;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(../assets/images/heroimg.png);
  position: relative;
}

.logo {
max-width: 350px;
padding-top: 30px;
}

.welcome h1 {
  color: #fff;
  font-size: 35px;
  margin: 0 auto;
  max-width: 600px;
  padding-top: 20px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

.welcome-button {
 display: flex;
 justify-content: center;
 margin-top: 40px;
}

.phone-box {
  position: absolute;
  position: fixed;
  right: 0;
  top: 300px;
  width: 94px;
}
.floating-phone-box,
.phone-box-cell {
  /* Safari */
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
  /* Opera */
  -o-transform: rotate(-90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.floating-phone-box {
  position: relative; 
  width: 150px;
  background-color: #4286f4;
}

.phone-box-cell {
  position: absolute;
  bottom: 13px;
  padding: 5;
  left: 9px;
}

#phoneNo {
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 7px 6px 7px 28px;
}
/* #endregion */
/* ______________________________________________Started__________________________________ */
/* #region */
.started {
  position: relative;
  min-height: 400px;
  margin: 0 30px;
  display: flex;
}
.started p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #4286f4;
}
.started h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #4286f4;
}
.started-2 {
  padding-left: 50px;
}
.started-2 h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  color: #55c1ff;
  font-size: 18px 
}
.started-h2-box {
  height: 30px;
  padding-top: 100px;
}
.started-row {
  padding-bottom: 60px;
}
.started-3:after {
  content: '';
  border-right: 2px solid rgba(111, 115, 210, 0.3);
  position: absolute;
  right: 14px;
  top: -14%;
  z-index: 1;
  height: 200px;
}

.started-4 {
  margin-left: 20px;
}
.hover-dog{
  position: absolute;
  top: -30px;
  left: 80px;
}
/* #endregion */
/* ______________________________________________Urn __________________________________ */
/* #region */
.urns {
  background-color: #55c1ff;
}
.urns-row {
  padding: 30px;
}
.urns-ph-box {
  display: flex;
  align-items: center;
  border-right: 1px solid rgba(111, 115, 210, 0.3);
}
.urns-phone-img {
  height: 50px;
}
.urns-products-box {
 padding-left: 30px !important;
}
.urns-ph-box_words {
   height: 50px; 
   padding-left: 20px;
  
}
.urn-h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  color: #fff;
  font-size: 16px;
  margin: 0;
}
.urns-phNumber {
  font-family: 'Roboto', sans-serif;
  color: #4286f4;
  font-weight: 800;
  font-size: 25px;
}

.urn-prod-h3 {
 font-family: 'Roboto', sans-serif;
 font-weight: 300;
 color: #fff;
 font-size: 25px;
 margin: 0;
}
.urn-products-link {
  font-family: 'Roboto',sans-serif;
  color: #4286f4;
  font-weight: 800;
  font-size: 14px;
  margin: 0;
}
.fa-caret-right {
  padding-left: 10px;
}
/* #endregion */
/* ______________________________________________Testimony __________________________________ */
/* #region */
.testimony {
  background-color: #4286f4;
}
.testimonial {
  color: #fff;
  font-family: 'Roboto',sans-serif;
  font-weight: 300;
  font-size: 25px;
}

.overview {
   color: #fff;
}

.carousel-item hr {
  display: inline-block;
  width: 20px;
  height: 1px;
  background-color: white;
  margin-top: 20px;
}
.carousel-item img {
  padding: 0 5px 30px 5px;
}


.col-center {
  margin: 0 auto;
  float: none !important;
}
.carousel {
  margin: 30px 0 80px 0;
}

.carousel .item {
  color: #999;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  min-height: 290px;
}

.carousel .item .img-box {
  width: 135px;
  height: 135px;
  margin: 0 auto;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 50%;
}

.carousel .img-box img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
}

.carousel .testimonial {
  padding: 30px 0 10px;
}

.carousel .overview b {
  font-family: 'Roboto', sans-serif !important;
  font-weight: 400;
  font-size: 20px;
}
.ovr-p {
  font-family: 'Roboto', sans-serif !important;
  font-weight: 200;
}
.carousel .carousel-control {
  width: 40px;
  height: 40px;
  margin-top: -20px;
  top: 50%;
  background: none;
}

.carousel-control i {
  font-size: 68px;
  line-height: 42px;
  position: absolute;
  display: inline-block;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}


.carousel .carousel-indicators {
  bottom: -40px;
}

.carousel-indicators li,
.carousel-indicators li.active {
  width: 10px !important;
  height: 10px !important;
  margin: 1px 3px;
  border-radius: 50%;
  
}

.carousel-indicators li {
  background: #999;
  border-color: grey;
  box-shadow: inset 0 2px 1px rgba(24, 18, 6, 0.39);
  
}

.carousel-indicators li.active {
  background: #fff;
  box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
}
/* #endregion */

/* ______________________________________________ About __________________________________ */
/* #region */

.about-words {
  font-family: 'Roboto', sans-serif;
}
.about-words h2 {
  color: #55c1ff;
  font-weight: 500;
  font-size: 40px;
}
.about-words p {
  color: #4286f4;
  font-weight: 400;
  font-size: 20px;
}

.about-words-group {
  padding: 100px 0 0 20px;
  max-width: 550px;
}
/* #endregion */

.bridge {
  background-color: #55c1ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.white-box-bridge {
  margin: 10% 20%;
  padding: 30px 150px;
  background-color: #fff;
  
}
.white-box-bridge h2 {
   color: #55c1ff;
   font-weight: 500;
   font-size: 40px;
   text-align: center;
}
.white-box-bridge h4 {
   color: #4286f4;
   font-weight: 500;
   font-size: 40px;
   text-align: center;

}
