/* ______________________________________________global__________________________________ */
button {
  background-color: #4286f4;
  border-radius: 25px 25px !important;
  padding: 5px 23px;
  border: none;
  color: #fff;
}

/* ______________________________________________NAV__________________________________ */

nav {
  background-color: #4286f4;
}
.nav {
  padding: 15px 0;
  margin: 0 auto;
  max-width: 1000px;
}

nav li a {
  color: white;
  text-align: center;
}


/* ______________________________________________Hero __________________________________ */
.welcome {
  height: 570px;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(../assets/images/heroimg.png);
}

.logo {
max-width: 350px;
padding-top: 30px;
}

.welcome h1 {
  color: #fff;
  font-size: 30px;
  margin: 0 auto;
  max-width: 600px;
  padding-top: 20px;
  text-align: center;
}

.welcome-button {
 display: flex;
 justify-content: center;
}

#phoneNo {
  width: 200px;
  /* Safari */
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
  /* Opera */
  -o-transform: rotate(-90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}


/* ______________________________________________Testimony __________________________________ */
.testimony {
  background-color: #4286f4
}
.testimonial {
  color: #fff;
}

.overview {
   color: #fff;
}

.carousel .overview b {
  color: #fff !important;
}








/* ______________________________________________ Carosel __________________________________ */
.col-center {
  margin: 0 auto;
  float: none !important;
}
.carousel {
  margin: 50px auto;
  padding: 0 70px;
}

.carousel .item {
  color: #999;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  min-height: 290px;
}

.carousel .item .img-box {
  width: 135px;
  height: 135px;
  margin: 0 auto;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 50%;
}

.carousel .img-box img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
}

.carousel .testimonial {
  padding: 30px 0 10px;
}

.carousel .overview {
  font-style: italic;
}

.carousel .overview b {
  text-transform: uppercase;
  color: #7AA641;
}

.carousel .carousel-control {
  width: 40px;
  height: 40px;
  margin-top: -20px;
  top: 50%;
  background: none;
}

.carousel-control i {
  font-size: 68px;
  line-height: 42px;
  position: absolute;
  display: inline-block;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}


.carousel .carousel-indicators {
  bottom: -40px;
}

.carousel-indicators li,
.carousel-indicators li.active {
  width: 10px !important;
  height: 10px !important;
  margin: 1px 3px;
  border-radius: 50%;
  
}

.carousel-indicators li {
  background: #999;
  border-color: grey;
  box-shadow: inset 0 2px 1px rgba(24, 18, 6, 0.39);
  
}

.carousel-indicators li.active {
  background: #fff;
  box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
}